<%= stylesheet_link_tag    "calenders_index", media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="month_move">
  <p>前の月</p>
  <p>次の月</p>
</div>

<p>表示月：<%= @year %>/<%= @month %></p>
<p>上段：距離(km)、下段：消費カロリー(kcal)</p>
<table class="calender">
  <tr>
    <th>日</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th>
  <tr>
  <% week_count = 0 %>
  <% end_week_count = 6 %>
  <% @works.each do |work| %>

    <% if week_count == 0 %>
      <tr>
    <% end %>

    <% if work == "blank" %>
      <td class="blank"></td>
    <% elsif work.integer? %>
      <td class="norun"><span><%= work %></span></td>
    <% else %>
      <td class="run">
        <span><%= work.created_at.day %></span>
        <br>
        <p><%= work.dist.round(1) %></p><p><%= work.cal.round(1) %></p>
      </td>
    <% end %>

    <% if week_count == end_week_count %>
      </tr>
      <% week_count = 0 %>
    <% else %>
      <% week_count += 1 %>
    <% end %>
  <% end %>

</table>