<%= stylesheet_link_tag    "works_index", media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="conteiner">
  <h2>総走行距離</h2>
  <p><%= @total_dist.round(2) %>km</p>
  <p>
    <% if @check_point %>
      <%= @check_point.start_point %>(<%= @check_point.dist.round(2) %>km)を達成しました！
    <% else %>
      まだチェックポイントに到達していません。もう少し頑張りましょう
    <% end %>
  </p>
  <p>
    <% if @next_check_point %>
      次のチェックポイントまであと<%= @next_check_point_dist.round(2) %>km
    <% else %>
      全てのチェックポイントを通過しました。おめでとうございます！！
    <% end %>
  </p>
  <h2>総消費カロリー</h2>
  <p><%= @total_cal.round(2) %>kcal</p>
  <h2>本日の運動量</h2>
  <p>
  <%= @work.dist.round(2) %>km
  /
  <%= @work.cal.round(2) %>kcal
  </p>
  <h2>本日の体重計測</h2>
  <% @healths.each do |h| %>
    <p><%= h.created_at.strftime("%Y/%m/%d %H:%M") %></p>
    <p><%= h.weight.round(2) %>kg / <%= h.metabolism.round(2) %>kcal / <%= h.muscle.round(2) %></p>
  <% end %>
</div>