<!DOCTYPE html>
<html>
  <head>
    <title>RunDist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <% view_name = "#{controller.controller_name}_#{controller.action_name}" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'common', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% page_titles = {
      "users_new": "ユーザー登録",
      "users_create": "ユーザー登録",
      "works_index": "サマリー",
      "works_new": "記録",
      "works_create": "記録",
      "modes_index": "モード一覧",
      "calenders_index": "カレンダー"
    }
    %>
      <div class="header-info" >
        <h1>
          <% if @current_user %>
            <%= link_to "ハシッタ君", user_works_path(user_id: @current_user.custom_url)%>
          <% else %>
            ハシッタ君
          <% end %>
        </h1>
        <p class="page_title">
          <% if @current_user && ["users", "works", "calenders"].include?(controller.controller_name) %>
            <%= link_to "サマリー", user_works_path(user_id: @current_user.custom_url) %>
            <%= link_to "カレンダー", user_calenders_path(user_id: @current_user.custom_url) %>
          <% end %>
        </p>
      </div>
      <div class="header-menu">
        <ul>
          <% if @current_user && ["users", "works", "calenders"].include?(controller.controller_name) %>
            <li class="btn btn-primary link_wrap">
              <%= link_to "+走行距離", new_user_work_path(user_id: @current_user.custom_url) %>
            </li>
            <li class="btn btn-primary link_wrap">
              <%= link_to "+体重", new_user_health_path(user_id: @current_user.custom_url) %>
            </li>
          <% end %>
        </ul>
      </div>
    </header>
    
    <% if flash[:notice].present? %>
      <p class="notice_message"><%= flash[:notice] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
